
<div class="d-flex align-items-center justify-content-center"style="height: 100%;">
    <div class="p-2 m-2" >
        <div class="card">
            <div class="p-5">
                <img src="../../assets/images/logo.svg" class="card-img-top p-2" alt="logo" style="height: 12rem;">
                <img src="../../assets/images/logoletra.svg" class="card-img-top" alt="logoletra" style="height: 7rem;">
                <div class="row text-center">
                    <p class="fw-bold">Recuperar contraseña</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" placeholder="Ingrese su email">
                        </div>
                        <button type="submit" routerLink="/" class="btn btn-primary col-12 mt-2">RECUPERAR CONTRASEÑA</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>