/* Global */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url(./assets/images/fondo.svg); }


/* Card login */

#logo {
    height: 203px;
    padding: 2;
}

.card {
    width: 705px;
}

/* Navbar component */

.navbar {
    background-color: #3CA3FF;
    padding: 0 20px 0 20px;
    height: 66px;
    color: white;
}
.navbar img{
    height: 3rem;
}

.img-white {
    color: white;
}

/* Main */

#carouselExampleIndicators{
    padding: 122px 87px;
}

.carousel-item img {
    height: 406px;
    width: auto;
    background-color: rgb(89, 90, 90);
    border-radius: 25px;
}


